html {
  font-size: 1rem;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: #F4F6F9;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

footer {
  margin-left: 0;
  padding: 0;
}

nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-inline-start: 0;
}

span {
  display: none;
}

@media (min-width: 1350px) {
  body {
    background-image: url(../img/mastheader.png);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 120% 50%;
    background-repeat: no-repeat;
    text-align: start;
    padding-left: 163px;
    padding-right: 700px;
  }
  nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
  }
}
