.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
  margin: 0; }

.link {
  color: #00adee;
  text-decoration: none;
  line-height: 21px; }

.mashead_article__description, .explore_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F;
  margin: 0; }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("lato-bold"), local("Lato-Bold"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("lato-regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"); }

.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
  margin: 0; }

.link {
  color: #00adee;
  text-decoration: none;
  line-height: 21px; }

.mashead_article__description, .explore_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F;
  margin: 0; }

html {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 16px; }

body {
  margin: 0;
  background-color: #F4F6F9;
  text-align: center; }

.container {
  margin-inline-start: 20px;
  margin-inline-end: 20px; }

nav > ul, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

@media (min-width: 1120px) {
  article {
    text-align: start; } }

.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
  margin: 0; }

.link {
  color: #00adee;
  text-decoration: none;
  line-height: 21px; }

.mashead_article__description, .explore_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F;
  margin: 0; }

.mashthead__heading {
  margin: 0;
  padding-top: 30px; }

.logo_sports img {
  width: 186px;
  height: 70px; }

@media (min-width: 1120px) {
  .logo_sports img {
    width: 92px;
    height: 32px;
    position: absolute;
    left: calc(50% - 557px); }
  .mashthead__heading {
    padding-top: 61px; } }

.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
  margin: 0; }

.link {
  color: #00adee;
  text-decoration: none;
  line-height: 21px; }

.mashead_article__description, .explore_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F;
  margin: 0; }

.mashthead_container {
  margin-left: 20px;
  margin-right: 20px; }

.mashead_article {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0; }

.mashead_article__heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.03em;
  color: #333333;
  padding-bottom: calc(50px - 17px);
  margin: 0; }

@media (min-width: 1120px) {
  .masthead {
    background-image: url(../img/mastheader.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: calc(546px - 5px) 100%; }
  .mashthead_container {
    max-width: 1114px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto; }
  .mashead_article {
    padding-top: 164px;
    padding-bottom: 50px;
    max-width: 546px; }
  .mashead_article__heading {
    font-size: 36px;
    line-height: 48px;
    padding-bottom: 30px; }
  .mashead_article__description {
    font-size: 18px;
    line-height: 26px;
    max-width: 453px; } }

.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
  margin: 0; }

.link {
  color: #00adee;
  text-decoration: none;
  line-height: 21px; }

.mashead_article__description, .explore_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F;
  margin: 0; }

.download_buttons__navigation {
  padding-bottom: 59px; }

.download_buttons__image {
  width: 145.69px;
  height: 44px; }

.download_buttons__container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0; }
  .download_buttons__container li + li {
    margin-left: 28.61px; }

.download_buttons__text {
  display: none; }

@media (min-width: 1120px) {
  .download_buttons__container {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0; }
    .download_buttons__container li + li {
      margin-right: 35.9px; }
  .download_buttons__navigation {
    margin: 0;
    padding-bottom: 164px; } }

.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
  margin: 0; }

.link {
  color: #00adee;
  text-decoration: none;
  line-height: 21px; }

.mashead_article__description, .explore_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F;
  margin: 0; }

.link_start {
  text-transform: uppercase; }

.explore_heading {
  padding-bottom: 27px; }

.esplore_category {
  padding-top: 33px;
  padding-bottom: 27px;
  margin: 0; }

.explore {
  background-color: white; }
  .explore .explore_description + .explore_description {
    margin-block-start: 32px; }

.explore_learn_more {
  margin: 0;
  padding-top: 25px; }

.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
  margin: 0; }

.link {
  color: #00adee;
  text-decoration: none;
  line-height: 21px; }

.mashead_article__description, .explore_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F;
  margin: 0; }

.features {
  padding-block-start: 42px;
  padding-block-end: 58px; }

.features_heading {
  padding-block-end: 52px; }

.features_list__container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px; }

.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
  margin: 0; }

.link {
  color: #00adee;
  text-decoration: none;
  line-height: 21px; }

.mashead_article__description, .explore_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F;
  margin: 0; }

.feature_in {
  padding-block-start: 57px;
  padding-block-end: 71px; }

.feature_in__heading {
  padding-block-end: 43px; }

.feature_in__list--container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 20px;
  row-gap: 20px; }

.feature_in ul > li:first-child a {
  display: block;
  text-indent: -9999px;
  background-image: url(../img/logo_nbc_sports.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  grid-row: 1 / 4; }

.feature_in ul > li:nth-of-type(2) a {
  display: block;
  text-indent: -9999px;
  background-image: url(../img/logo_nbc_sports.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  grid-row: 4 / 7; }

.feature_in ul > li:nth-of-type(3) a {
  display: block;
  text-indent: -9999px;
  background-image: url(../img/logo_nbc_sports.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  grid-column: 2 / 4; }

.feature_in ul > li:nth-child(4) a {
  display: block;
  text-indent: -9999px;
  background-image: url(../img/logo_nbc_sports.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  grid-row: 4 / 6; }

.feature_in ul > li:nth-child(5) a {
  display: block;
  text-indent: -9999px;
  background-image: url(../img/logo_nbc_sports.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  grid-row: 6 / 7; }

.feature_in ul > li:last-of-type a {
  display: block;
  text-indent: -9999px;
  background-image: url(../img/logo_nbc_sports.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  grid-column: 3 / 6; }
