.mashead_article {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
}

.mashead_article__heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.03em;
  color: #333333;
  padding-bottom: 33px;
  margin: 0;
}

.mashead_article__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F;
  margin: 0;
}

@media (min-width: 1120px) {
  .masthead {
    max-width: 1114px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/mastheader.png);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 400px 120%;
  }
  .mashead_article {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .mashead_article__heading {
    font-size: 36px;
    line-height: 48px;
    padding-bottom: 30px;
    max-width: 546px;
  }
  .mashead_article__description {
    font-size: 18px;
    line-height: 26px;
    max-width: 453px;
  }
}
