@import "variables";

.link {
  @extend %link-anchor;
}

.link_start {
  text-transform: uppercase;
}

.explore_heading {
  padding-bottom: 27px;
}

.esplore_category {
  padding-top: 33px;
  padding-bottom: 27px;
  margin: 0;
}

.explore_description {
  @extend %main-paragraph;
}

.explore {
  background-color: white;
  .explore_description + .explore_description {
    margin-block-start: 32px;
  }
}

.explore_learn_more {
  margin: 0;
  padding-top: 25px;
}
