@import "variables";

.explore {
  padding-bottom: 652px;
  background-image: url(../img/bg_friendly_user_interface.png);

  background-position-x: 50%;
  background-position-y: calc(100% + 652px);
  background-repeat: no-repeat;
  background-size: 2000px;
}

.link {
  @extend %link-anchor;
}

.link_start {
  text-transform: uppercase;
}

.explore_heading {
  padding-bottom: 27px;
}

.esplore_category {
  padding-top: 33px;
  padding-bottom: 27px;
  margin: 0;
}

.explore {
  background-color: white;
  .explore_description + .explore_description {
    margin-block-start: 32px;
  }
}

.explore_learn_more {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 42px;
}
