@import "variables";

.download_buttons__navigation {
  padding-bottom: 59px;
}


.download_buttons__image {
  width: 145.69px;
  height: 44px;
}

.download_buttons__container {
  align-items: center;
  justify-content: center;
  @include nav-ul;

  li + li {
    margin-left: 28.61px;
  }
}

.download_buttons__text {
  display: none;
}

@media (min-width: $desktop_min_width) {
  .download_buttons__container {
    justify-content: flex-start;
    @include nav-ul;
    li + li {
      margin-right: 35.9px;
    }
  }
  .download_buttons__navigation {
    margin: 0;
    padding-bottom: 164px;
  }
}

