.download_buttons__navigation {
  padding-bottom: 59px;
}

.download_buttons__image {
  width: 145.69px;
  height: 44px;
}

.download_buttons__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

.download_buttons__list--items {
  margin-right: 14.61px;
}

.download_buttons__text {
  display: none;
}

@media (min-width: 1120px) {
  .download_buttons__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
  }
  .download_buttons__navigation {
    margin: 0;
  }
  .download_buttons__list--items {
    margin-right: 35.9px;
  }
  .download_buttons__navigation {
    padding-bottom: 164px;
  }
}

