@import "variables";

html {
  font-family: $font_stack;
  font-size: $base_font_size;
}

body {
  margin: 0;
  background-color: $base_background;
  text-align: center;
}

.container {
  @include base-margin;
}

@media (min-width: $desktop_min_width) {
  article {
    text-align: start;
  }
}
