@import "variables";

html {
  font-family: $font_stack;
  font-size: $base_font_size;
}

body {
  margin: 0;
  background-color: $base_background;
  text-align: center;
}

@media (min-width: 1120px) {
  body {
    text-align: start;
  }
}
