@import "variables";

.feature_in {
  padding-block-start: 57px;
  padding-block-end: 71px;
}

.feature_in__heading {
  padding-block-end: 43px;
}

.feature_in__navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & ul + ul {
    margin-top: 33px;
  }
}

.feature_in__navigation > .feature_in__list--container1 li {
  @include text_indent;
}

.feature_in__list--container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  & li + li {
    margin-left: 63px;
  }
}

.feature_in__list--container1 li:first-child {
 background-image: url(../img/logo_sports_tv.svg);
  width: 149px;
  height: 52px;
}

.feature_in__list--container1 li:last-child {
background-image: url(../img/logo_sports_channel.svg);
width: 102px;
height: 32px;
}

.feature_in__list--container2 {
  display: flex;
  flex-direction: row;
  & li + li {
    margin-left: 39px;
  }
}

.feature_in__navigation > .feature_in__list--container2 li {
  @include text_indent;
}

.feature_in__list--container2 li:first-child {
  background-image: url(../img/logo_nbc_sports.svg);
  width: 69px;
  height: 58px;
}
.feature_in__list--container2 li:nth-of-type(2) {
  background-image: url(../img/logo_designer_technology.svg);
  width: 110px;
  height: 32px;
}
.feature_in__list--container2 li:last-child {
  background-image: url(../img/logo_designer_news.svg);
  width: 48px;
  height: 48px;
}

.sky_sports {
  @include text_indent;
  background-image: url(../img/logo_sky_sports.svg);
  width: 210px;
  height: 34px;
  background-position: center;
}

// .feature_in__list--container {
  // display: flex;
  // flex-direction: column;
  // justify-content: stretch;
  // align-items: stretch;
  // & li:first-child {
  //   background-image: url(../img/logo_sports_tv.svg);
  //   align-self: start;
  // }
  // & li:nth-of-type(2){
  //   background-image: url(../img/logo_sports_channel.svg);
  //   align-self: flex-end;

  // }
//   & li:nth-of-type(3) {
//     background-image: url(../img/logo_nbc_sports.svg);
//     background-position: left;
//   }
//   & li:nth-of-type(4) {
//     background-image: url(../img/logo_designer_technology.svg);
//     background-position: center;
//   }
//   & li:nth-of-type(5) {
//     background-image: url(../img/logo_designer_news.svg);
//     background-position: right;
//   }

// // }
