@import "variables";

.feature_in {
  padding-block-start: 57px;
  padding-block-end: 71px;
}

.feature_in__heading {
  padding-block-end: 43px;
}

.items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.items-container .feature_in__link{
  @include text_indent;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  min-height: 58px;
}

.items-container li:nth-child(1) {
  flex-basis: 50%;
}

.items-container li:nth-child(2) {
  flex-basis: 50%;
}

.items-container li:nth-child(3) {
  flex-basis: 30%;
}

.items-container li:nth-child(4) {
  flex-basis: 40%;
}

.items-container li:nth-child(5) {
  flex-basis: 30%;
}

.items-container li:nth-child(6) {
  flex-basis: 100%;
}

.items-container li:nth-child(1) .feature_in__link{
  background-image: url(../img/logo_sports_tv.svg);
 }

 .items-container li:nth-child(2) .feature_in__link{
  background-image: url(../img/logo_sports_channel.svg);
 }

 .items-container li:nth-child(3) .feature_in__link{
  background-image: url(../img/logo_nbc_sports.svg);
}
.items-container li:nth-child(4) .feature_in__link{
  background-image: url(../img/logo_designer_technology.svg);
}
.items-container li:nth-child(5) .feature_in__link{
  background-image: url(../img/logo_designer_news.svg);
}

.items-container li:nth-child(6) .feature_in__link{
  background-image: url(../img/logo_sky_sports.svg);
}



@media (min-width: $desktop_min_width) {
  .feature_in__heading {
    text-align: center;
  }

  .items-container {
    display: flex;
    flex-direction: row;
  }

  .items-container .feature_in__link {
    min-width: 149px;
  }
  .items-container li:nth-child(1),
  .items-container li:nth-child(2),
  .items-container li:nth-child(3),
  .items-container li:nth-child(4),
  .items-container li:nth-child(5),
  .items-container li:nth-child(6) {
    flex-basis: unset;
  }
  .items-container li:nth-child(6) .feature_in__link{
    min-width: 210px;
  }
}
