@import "variables";

.features {
  padding-block-start: 42px;
  padding-block-end: 58px;
}

.features_heading {
  padding-block-end: 52px;
}

.features_list__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & li + li {
    margin-top: 50px;
  }
}
