//import
@import "variables";


.mashthead_container {
  margin-left: $base_margin;
  margin-right: $base_margin;
}

.mashead_article {
  padding-top: $base_padding;
  padding-bottom: $base_padding;
  margin: 0;
}
.mashead_article__heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.03em;
  color: $color_heading;
  padding-bottom: calc(#{$base_padding} - 17px);
  margin: 0;
}

.mashead_article__description {
  font-weight: 400;
  font-size: $base_font_size;
  line-height: 23px;
  color: $color_paragraph;
  margin: 0;
}

@media (min-width: $desktop_min_width) {
  .masthead {
    background-image: url(../img/mastheader.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: calc(546px - 5px) 100%;
  }

  .mashthead_container {
    max-width: $faux_column_width;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .mashead_article {
    padding-top: 164px;
    padding-bottom: $base_padding;
    max-width: 546px;
  }
  .mashead_article__heading {
    font-size: 36px;
    line-height: 48px;
    padding-bottom: 30px;
  }
  .mashead_article__description {
    font-size: 18px;
    line-height: 26px;
    max-width: 453px;
  }
}
