.mashthead__heading {
  margin: 0;
  padding-top: 30px;
}

svg {
  width: 186px;
  height: 70px;
}

@media (min-width: $desktop_min_width) {
  svg {
    width: 92px;
    height: 32px;
  }
  .mashthead__heading {
    padding-top: 61px;
    max-width: 92px;
    max-height: 32px;
  }
}
