@import "variables";

.mashthead__heading {
  margin: 0;
  padding-top: 30px;
}

.logo_sports img {
  width: 186px;
  height: 70px;
}

@media (min-width: $desktop_min_width) {
  .logo_sports img {
    width: 92px;
    height: 32px;
    position: absolute;
    left: calc(50% - 557px);
  }
  .mashthead__heading {
    padding-top: 61px;
  }
}
