$base_background: #F4F6F9;
$color_heading: #333333;
$color_paragraph: #4F4F4F;

$base_font_size: 16px;

$font_default: 'Lato';
$font_fallback: Arial, Helvetica, sans-serif;
$font_stack: $font_default, $font_fallback;

$base_margin: 20px;
$base_padding: 50px;

$faux_column_width: 1114px;
$desktop_min_width: $faux_column_width + 6px;

@mixin nav-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}
