html {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}

body {
  margin: 0;
  background-color: #F4F6F9;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: 1350px) {
  body {
    background-image: url(../img/mastheader.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 134% 54%;
    background-repeat: no-repeat;
    text-align: start;
    max-width: 546px;
    margin-left: 163px;
    margin-right: auto;
  }
}
