@charset "UTF-8";
.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
  margin: 0; }

.link {
  color: #00adee;
  text-decoration: none;
  line-height: 21px; }

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F;
  margin: 0; }

.footer_logo {
  display: block;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat; }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("lato-bold"), local("Lato-Bold"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("lato-regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"); }

.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
  margin: 0; }

.link {
  color: #00adee;
  text-decoration: none;
  line-height: 21px; }

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F;
  margin: 0; }

.footer_logo {
  display: block;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat; }

html {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 16px; }

body {
  margin: 0;
  background-color: #F4F6F9;
  text-align: center; }

.container {
  margin-inline-start: 20px;
  margin-inline-end: 20px; }

nav > ul, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

@media (min-width: 1120px) {
  article {
    text-align: start; }
  .container {
    max-width: 1114px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto; } }

.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
  margin: 0; }

.link {
  color: #00adee;
  text-decoration: none;
  line-height: 21px; }

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F;
  margin: 0; }

.footer_logo {
  display: block;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat; }

.mashthead__heading {
  margin: 0;
  padding-top: 30px; }

.logo_sports img {
  width: 186px;
  height: 70px; }

@media (min-width: 1120px) {
  .logo_sports img {
    width: 92px;
    height: 32px;
    position: absolute;
    left: calc(50% - 557px); }
  .mashthead__heading {
    padding-top: 61px; } }

.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
  margin: 0; }

.link {
  color: #00adee;
  text-decoration: none;
  line-height: 21px; }

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F;
  margin: 0; }

.footer_logo {
  display: block;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat; }

.mashthead_container {
  margin-left: 20px;
  margin-right: 20px; }

.mashead_article {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0; }

.mashead_article__heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.03em;
  color: #333333;
  padding-bottom: calc(50px - 17px);
  margin: 0; }

@media (min-width: 1120px) {
  .masthead {
    background-image: url(../img/mastheader.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: calc(546px - 5px) 100%; }
  .mashthead_container {
    max-width: 1114px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto; }
  .mashead_article {
    padding-top: 164px;
    padding-bottom: 50px;
    max-width: 546px; }
  .mashead_article__heading {
    font-size: 36px;
    line-height: 48px;
    padding-bottom: 30px; }
  .mashead_article__description {
    font-size: 18px;
    line-height: 26px;
    max-width: 453px; } }

.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
  margin: 0; }

.link {
  color: #00adee;
  text-decoration: none;
  line-height: 21px; }

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F;
  margin: 0; }

.footer_logo {
  display: block;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat; }

.download_buttons__navigation {
  padding-bottom: 59px; }

.download_buttons__image {
  width: 145.69px;
  height: 44px; }

.download_buttons__container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0; }
  .download_buttons__container li + li {
    margin-left: 28.61px; }

.download_buttons__text {
  display: none; }

@media (min-width: 1120px) {
  .download_buttons__container {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0; }
    .download_buttons__container li + li {
      margin-right: 35.9px; }
  .download_buttons__navigation {
    margin: 0;
    padding-bottom: 164px; } }

.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
  margin: 0; }

.link {
  color: #00adee;
  text-decoration: none;
  line-height: 21px; }

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F;
  margin: 0; }

.footer_logo {
  display: block;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat; }

.interface {
  padding-bottom: 652px;
  background-image: url(../img/bg_friendly_user_interface.png);
  background-position-x: 50%;
  background-position-y: calc(100% + 652px);
  background-repeat: no-repeat;
  background-size: 2000px; }

.link_start {
  text-transform: uppercase; }

.interface_heading {
  padding-bottom: 27px; }

.interface_category {
  padding-top: 33px;
  padding-bottom: 27px;
  margin: 0; }

.interface {
  background-color: white; }
  .interface .interface_description + .interface_description {
    margin-block-start: 32px; }

.interface_learn_more {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 113.33px; }

@media (min-width: 1120px) {
  .interface_category {
    padding-top: 217px; }
  .interface_div__container {
    max-width: 480px; }
  .interface_learn_more {
    padding-top: 54px;
    padding-bottom: 171px; }
  .interface {
    padding-bottom: 0px;
    background-position: calc(50% + 240px) 50%; } }

.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
  margin: 0; }

.link {
  color: #00adee;
  text-decoration: none;
  line-height: 21px; }

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F;
  margin: 0; }

.footer_logo {
  display: block;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat; }

.features {
  padding-block-start: 42px;
  padding-block-end: 58px; }

.features_heading {
  padding-block-end: 52px; }

.features_list__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .features_list__container li + li {
    margin-top: 50px; }

@media (min-width: 1120px) {
  .features_list__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 90px;
    row-gap: 45px; }
    .features_list__container li + li {
      margin-top: 0; }
  .features {
    padding-block-start: 76px;
    padding-block-end: 67px;
    color: white;
    background-color: #00ADEE; }
    .features ul li .features_paragraph {
      color: white;
      margin: 0; }
    .features .features_heading {
      color: white;
      text-align: center; }
    .features ul li p::before {
      content: "â—";
      color: white; }
  .features_list__container li svg path {
    fill: white; } }

.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
  margin: 0; }

.link {
  color: #00adee;
  text-decoration: none;
  line-height: 21px; }

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F;
  margin: 0; }

.footer_logo {
  display: block;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat; }

.feature_in {
  padding-block-start: 57px;
  padding-block-end: 71px; }

.feature_in__heading {
  padding-block-end: 43px; }

.items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.items-container .feature_in__link {
  display: block;
  text-indent: -9999px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  min-height: 58px; }

.items-container li:nth-child(1) {
  flex-basis: 50%; }

.items-container li:nth-child(2) {
  flex-basis: 50%; }

.items-container li:nth-child(3) {
  flex-basis: 30%; }

.items-container li:nth-child(4) {
  flex-basis: 40%; }

.items-container li:nth-child(5) {
  flex-basis: 30%; }

.items-container li:nth-child(6) {
  flex-basis: 100%; }

.items-container li:nth-child(1) .feature_in__link {
  background-image: url(../img/logo_sports_tv.svg); }

.items-container li:nth-child(2) .feature_in__link {
  background-image: url(../img/logo_sports_channel.svg); }

.items-container li:nth-child(3) .feature_in__link {
  background-image: url(../img/logo_nbc_sports.svg); }

.items-container li:nth-child(4) .feature_in__link {
  background-image: url(../img/logo_designer_technology.svg); }

.items-container li:nth-child(5) .feature_in__link {
  background-image: url(../img/logo_designer_news.svg); }

.items-container li:nth-child(6) .feature_in__link {
  background-image: url(../img/logo_sky_sports.svg); }

@media (min-width: 1120px) {
  .feature_in__heading {
    text-align: center; }
  .items-container {
    display: flex;
    flex-direction: row; }
  .items-container .feature_in__link {
    min-width: 149px; }
  .items-container li:nth-child(1),
  .items-container li:nth-child(2),
  .items-container li:nth-child(3),
  .items-container li:nth-child(4),
  .items-container li:nth-child(5),
  .items-container li:nth-child(6) {
    flex-basis: unset; }
  .items-container li:nth-child(6) .feature_in__link {
    min-width: 210px; } }

.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
  margin: 0; }

.link {
  color: #00adee;
  text-decoration: none;
  line-height: 21px; }

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F;
  margin: 0; }

.footer_logo {
  display: block;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat; }

.footer {
  text-align: start;
  padding-block-start: calc(50px - 9px);
  padding-block-end: calc(50px - 5px);
  background-color: #00ADEE; }

.footer_logo {
  background-image: url(../img/logo_sports_white.svg);
  margin: 0;
  width: 84px;
  height: 32px;
  padding-bottom: 11px; }

.footer_navigation {
  display: flex;
  flex-direction: column; }
  .footer_navigation ul + ul {
    margin-top: 34px; }

.social_container {
  display: flex;
  flex-direction: row; }
  .social_container > li + li {
    margin-left: 17px; }

.social_container li {
  display: block;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat; }

.social_container li:first-child {
  background-image: url(../img/icon_twitter.svg); }

.social_container li:nth-child(2) {
  background-image: url(../img/icon_facebook.svg); }

.social_container li:last-of-type {
  background-image: url(../img/icon_instagram.svg); }

.footer_container {
  display: flex;
  flex-direction: row; }
  .footer_container li + li {
    margin-left: 17px; }

.footer_container a {
  color: #FFFFFF; }

@media (min-width: 1120px) {
  .footer {
    padding-block-start: calc(50px - 2px);
    padding-block-end: calc(50px - 3px); }
  .footer_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch; }
  .footer_navigation {
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .footer_navigation ul + ul {
      margin-top: 0; }
  .footer_container {
    order: 1;
    align-self: center; }
  .social_container {
    order: 2;
    margin-inline-start: 261px; }
  .footer_logo {
    padding-bottom: 0; } }
