.mashead_article {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.mashead_article__heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
}

.mashead_article__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

@media (min-width: 1350px) {
  .mashead_article {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
