.site_header__heading {
  margin: 0;
  padding-top: 40px;
}

svg {
  width: 186px;
  height: 70px;
}

@media (min-width: 1120px) {
  svg {
    width: 92px;
    height: 32px;
  }
  .site_header__heading {
    padding-top: 50px;
    max-width: 92px;
    max-height: 32px;
  }
}
